/* image setting */
.home-img {
    height: 300px;
}

.icon {
    width: 40px;
    height: 40px;
}


.text-option-hover:hover {
    color: black !important;
    font-weight: 400;
}

.dialogue-box {
    height: 350px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.hide {
    animation: fadeout 0.5s linear forwards;
}

@keyframes fadeout {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

.show {
    animation: fadein 0.5s linear forwards;
}

.show-slow {
    animation: fadein-slow 1s linear forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein-slow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}